body {
	font-family: Arial;
	box-sizing: border-box;
}




form.display img{
	padding-top: 2px;
	border-radius: 10px solid grey;
	float: left;
	background: #f1f1f1;
}


#movdisplay.movtitle{
	padding: 10px;
	font-size: 16px;
	color:rgb(26, 11, 11);
	border: 1px solid grey;
	float: center;
	background: #f1f1f1;
}
