/*https://www.w3schools.com/howto/howto_css_search_button.asp*/
body {
	font-family: Arial;
	box-sizing: border-box;
}

form.searchbar input[type=text] {
	padding: 10px;
	font-size: 16px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

form.searchbar button {
	float: left;
	width: 20%;
	padding: 19.6px;
	background: #2196F3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}

form.searchbar button:hover {
	background: #0b7dda;
}

form.seachbar::after {
	content: "";
	clear: both;
	display: table;
}
