{% extends 'base.html' %}
{% block title %}
Register User
{% endblock %}

{% block content %}
<div class="align">

	<div class="grid">

		<form method="post" class="form login">
			{% csrf_token %}

		 <!-- Field for username -->
		 <div class="form__field">

			<label> 
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 16 16"> <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/> </svg> 
			<span class="hidden">Username</span> 
			</label>
			
			{{form.username}}

		</div>


		<!-- Field for password -->
		<div class="form__field">

			<label>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 16 16"> <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/></svg> 
			<span class="hidden">Password</span>
			</label>
			
			{{form.password1}}
		
		</div>


		<!-- Field for password confirmation -->
		<div class="form__field">

			<label>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 16 16"> <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/></svg> 
			<span class="hidden">Password</span>
			</label>
			
			{{form.password2}}
		
		</div>


		<!-- Login button -->
		<div class="form__field">
				<input type="submit" value="Sign Up" class="inputarea">
		</div>

	</form>


		<!-- Link to registration page -->
		<p class="center-text"> Already a member? <a href="{% url 'login' %}" target="_blank" class="reglink"> Log in here!</a></p>

		{{form.errors}}

	</div>

	<script>

		var form_field = document.getElementsByClassName('inputarea')
		form_field[1].placeholder='Username';
		form_field[2].placeholder='Enter password';
		form_field[3].placeholder='Re-enter Password';


		for (var field in form_field){	
			form_field[field].className += ' form-control'
		}
	</script>
</div>
{% endblock %}
